* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.search-wrap {
  display: flex;
    padding: 10px;

    .search-item {
        width: 0;
        flex-grow: 1;
        position: relative;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 4px;

        input {
            margin-left: 10px;
            border: none;
            outline: none;
        }
        .close-btn {
            position: absolute;
            top: 50%; right: 5px;
            font-size: 18px;
            transform: translate(0,-50%);
        }
    }
    .btn-handle {
        margin-left: 10px;
        padding: 5px 20px;
        color: #fff;
        border: none;
        border-radius: 4px;
        background: #2e7ae6;
        
        &:hover {
            opacity: .7;
        }
    }
}

.content-wrap {
    padding: 5px;

    dt {
        padding: 5px 10px;
    }
    dd {
        padding: 5px 10px;
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;

        & > p {
            padding: 5px;
            color: #999;
        }
    }
}
