* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.search-wrap {
    padding: 10px;

    .search-item {
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 4px;

        input {
            margin-left: 10px;
            border: none;
            outline: none;
        }
    }
}