* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.search-wrap {
    padding: 10px;

    .search-item {
        position: relative;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 4px;

        input {
            margin-left: 10px;
            border: none;
            outline: none;
        }
        .close-btn {
            position: absolute;
            top: 50%; right: 5px;
            font-size: 18px;
            transform: translate(0,-50%);
        }

    }
}