@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1582714665507'); /* IE9 */
  src: url('iconfont.eot?t=1582714665507#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ4AAsAAAAABlwAAAItAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgcQE2AiQDCAsGAAQgBYRtBzUbnAUR1YsZsi8PbDCWPtg/Q3fAICw3UeODuUbbYjn/5sFyjw3e7/HwuFa+P8ns5ZhKrEgTserZMilXV0VCVRi0ZaE3J3igk5nxCxxy80voT1Dj+gUO0FcAbG6GrlERiiU5D/6X70jHChfyyyfunf4J9EFW77zLcS8aa9KkLs3iQAp0D4wi+wll3DB2wQt8TqDNNEvEug3b9ikye10grl2+eFopxGSZFYvQaDiaxRu1Uj2t8Dr6fvxdGoVKndhtuy6sP2fVz+KUpTvNjgWEOAGdrpGwBJnY15jbIQnGJW25bBbHag5+luYDrziqS7C/zm7sABNQ/UwaT/uoyhXIzGYc0yeFSa22zEfffffT8w933p+Oc9+IOuNIbKsW+NVUHAgGV0zdrZDBlxsujJzZsABlZ/7gp2gGDmVDZ3uqrGkaS5Vx6WQdbdrQxKE+P6baB++gFIrB+wi0mMyQFHPIzC5Brd1yNBQr0Waxjafb9bsuidyKRR4ChB5vUenyCUmPz2Rmv6M25D8aeiKhzYFwZbt5QSYloxZ0YP6QLHXv+kTFzTcM76o5r4v4F/KVkrCMc7l4YEdeYsf1CauIB8/UYAevYa0EJ1NGK2MUObdp8k0fGi21QZFRCzowf0iWug8mi6rIf8Pwrpo7BuqqL+QrzQ/LOA8gD3MfNPAo71yfsIp48EwNdrAIayU4mxdltDLGCZlzm5xRfqh53N7a/u4UtLEdVTh7E6Yi9lA/GDUNAwA=') format('woff2'),
  url('iconfont.woff?t=1582714665507') format('woff'),
  url('iconfont.ttf?t=1582714665507') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1582714665507#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenglvehao:before {
  content: "\e708";
}

